@import "variables";

.main {
  padding: 0 40px;
  text-align: center;
  > * {
    margin: 10px 0;
  }
}
.intro-animation {
  margin-top: 40px;
}
.intro {

}

.subject-title {
  font-size: 20px;
  color: $primary;
}
.subject-metrics {
  margin-top: 4px;
  font-size: 10px;
}

.copyright {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 10px;
  font-weight: 300;
}
