.btn {
  display: block;
  box-sizing: border-box;
  height: 36px;
  line-height: 35px;
  padding: 0 22px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: inherit;
  font-weight: 700;
  letter-spacing: .25em;

  transition: opacity .3s;

  &:disabled {
    opacity: .18;
  }

  .ng-fa-icon {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-8%);
    margin-right: 16px;
  }
}

.btn-pills {
  border-radius: 10em;
}

.btn-primary {
  background: $primary;
  color: #fff;
}

.btn-lg {
  height: 44px;
}
