// Colors
$body-color:    #343434;
$body-bg:       #f8f8f8;
$border-color:  #efefef;
$border-color2: #dddddd;
$primary:       #f41b1b;
$btn-border:    #c6c6c6;
$btn-color:     #969696;


// Typography
$font-family: 'Spoqa Han Sans', 'Sans-serif';
$line-height: 1.5;

$font-weight-base:  400;
$font-weight-bold:  700;
$font-weight-light: 300;
